<H1><center>Data Science Tools and Ecosystem</center></H1>

This is my first Jupyter Notebook, I usually write code in vsCode or Pycharm. This is a notebook about Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. SciPy
4. Matplotlib

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td><center>Jupyter Lab</center></td>
  </tr>
  <tr>
    <td><center>RStudio</center></td>
  </tr>
  <tr>
    <td><center>Spyder</center></td>
  </tr>
</table>

<H3>Below are a few examples of evaluating arithmetic expressions in Python</H3>

In [15]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60

minuts = 200
hours = minuts / 60
print (f'Minuts: {minuts} hours: {hours}')

Minuts: 200 hours: 3.3333333333333335

<b>Objectives:</b>
<br></br>

<li>List popular languages for Data Science</li>
<li>List popular libraries used by Data Scientists</li>
<li>List open source tools (IDE) for Data Science</li>
<li>Use arithmetic expressions</li>
<li>Use comments on the code</li>

<H2>Author</H2>

Roger RÃ­os Rojas